{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/flowers/flower-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="flower-container">
  <div class="flower-img">
    <img src="" alt="A skater boy cat" />
  </div>
  <div class="flower-details">
    <h1>Chosen Name:{{ flower.chosen_name }}</h1>
      <h2>A {{ flower.type }} that smells like {{ flower.scent }}</h2>
    <p>{{ flower.description }}</p>
  </div>
</section>
{% endblock %}
